<h1>{{heading}}</h1>

<table class="table">
    <thead>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Age</strong></td>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of names; 
          let i = index"
         (click)="setClickedRow(i)" 
         [class.active]="i == selectedRow"
         [ngStyle]="{'background-color':i == selectedRow ? 'green' :'#ccc'}"
         >
            <td>{{row.name}}</td>
            <td>{{row.age}}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="selectedRow != null">
    Selected Row : <strong>{{selectedRow}} </strong>
</div>